body{
    background-color: black;
}
h1{
    color:white;
}
p{
    color:white;
}
footer{
    color: white;
}

* {
    font-family: "sans-serif"; /* Replace "Your Desired Font" with the actual font name */
}
