body{
    background-color: black;
    font-family: 'Roboto', sans-serif;
}
h1{
    color:white;
    border: 2px solid antiquewhite;
}
h2{
    color:white;
}
p{
    color:white;
}
footer{
    color: white; 
}
