body{
    background-color: black;
    font-family: 'Roboto', sans-serif;
}
h1{
    color:white;
    border-style: solid;
    border-width: 2px;
}
h2{
    color:white;
}
p{
    color:white;
}
footer{
    color: white; 
}
